<div>
<p>Qual a cor do cavalo branco de Napoleão?</p>
	<ul>
		<li><input type="radio" name="question" ng-model="selectedAnswer" value="1">Azul</li>
		<li><input type="radio" name="question" ng-model="selectedAnswer" value="2">Verde</li>
		<li><input type="radio" name="question" ng-model="selectedAnswer" value="3">Rosa</li>
		<li><input type="radio" name="question" ng-model="selectedAnswer" value="4">Preto</li>
		<li><input type="radio" name="question" ng-model="selectedAnswer" value="5">Branco</li>
	</ul>
	<button ng-click="enviar()">Enviar</button>
</div>